.product-detail-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    border-radius: 8px;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .product-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .product-description {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .product-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
  }
  .price-section{
    display: flex;
    gap: 20px;

  }
  .price-section .stock{
    font-weight: 600
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  .review{
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;

  }
  .head{
    text-align: center;
  }

  