
.product-detail-container {
    padding: 20px;
    /* background-color: #f8f9fa; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
    color: white;
  }
  .product-image {
    border-radius: 8px;
  }
  
  .product-details {
    padding: 20px;
  }
  .product-details .stock{
    color: white;
  }
  .product-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .product-description {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .product-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffc638;
    margin-bottom: 20px;
  }
  .price-section{
    display: flex;
    gap: 20px;

  }
  .price-section .stock{
    font-weight: 600
  }
  .addToCart{
    background-color: #ffc638 !important;
    border: #ffc638 !important;
    color: black !important;
    font-weight: 600 !important;
  }
  .review{
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;

  }
  .head{
    text-align: center;
  }

  